<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--<bean class="Trash.Service">
        <property name="name" value="service"/>
        <property name="repo" ref="repository"/>
    </bean>
<bean name="repository" class="Trash.Repository"/>-->

    <!--<bean id="helloWorld" class="task01_05.HelloWorldXml" />-->

    <!--<bean id="helloWorldFactory" class="task01_05.HelloWorldXmlFactory"/>
    <bean id="helloWorld" factory-bean="helloWorldFactory" factory-method="create"/>-->
    <bean id="helloWorld" class="task01_05.HelloWorldXml" factory-method="create" />
</beans>